{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
  {% block documentReady %}
  <script>
    $(document).ready(function(){
      $("[rel=tooltip]").tooltip({ placement: 'right'});
    });
  </script>
  {% endblock documentReady %}
	<form class="form-horizontal" role="form" >
    
    <div class="row-fluid">
      <div class="page-header">
        <h1>Jugadores <small>Unete a la LIMUBAC</small>
        </h1>
      </div>


     	<div class="row-fluid">
        <div class="col-md-3 profilePerson thumbnail">
          <img src="http://placehold.it/220x400&text=Profile+Pic" alt="This Guy">
          <div class="profileOptions"></div>
        </div>
        <div class="col-md-7">
          <div class="form sharp vertical">
            <h6>Debes llenar todos los campos marcados con un asterisco</h6>
            
            <br>
            {{form_start(form, {attr: {novalidate: 'novalidate'}}) }}
              {{form_widget(form.nombre, {'attr': {'placeholder': 'Nombre'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.apPaterno, {'attr': {'placeholder': 'Apellido paterno'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.apMaterno, {'attr': {'placeholder': 'Apellido materno'|trans}} )}}<font color="red"> *</font><br>
              <br>
              {{form_widget(form.fNacimiento)}}
              <br>
              {{form_widget(form.correo, {'attr': {'placeholder': 'Correo'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.telefono, {'attr': {'placeholder': 'Telefono'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.profesion, {'attr': {'placeholder': 'Profesion'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.idStatus, {'attr': {'placeholder': 'Status'|trans}} )}}<font color="red"> * </font>
              <a>
                <i class="glyphicon-exclamation-sign glyphicon" rel="tooltip" title="<div style='text-align:left;'><strong>Ingresa el numero adecuado</strong><br>Activo.- 1 <br> Descansando.- 2 <br> Inactivo.- 3</div>" id="tt1" data-html="true">
                </i>
              </a><br>
              <br>
              {{form_widget(form.idGenero, {'attr': {'placeholder': 'Genero'|trans}} )}}<font color="red"> * </font>
              <a>
                <i class="glyphicon-exclamation-sign glyphicon" rel="tooltip" title="<div style='text-align:left;'><strong>Ingresa el numero adecuado</strong> <br> Masculino.- 1 <br> Femenino- 2 <br> Gay.- 3</div>" id="tt2" data-html="true">
                </i>
              </a><br>
              {{form_widget(form.estatura, {'attr': {'placeholder': 'Estatura'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.peso, {'attr': {'placeholder': 'Peso'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.idTiposanguineo, {'attr': {'placeholder': 'Tipo Sanguineo'|trans}} )}}<font color="red"> * </font>
              <a>
                <i class="glyphicon-exclamation-sign glyphicon" rel="tooltip" title="<div style='text-align:left'><strong>Ingresa el numero adecuado</strong><br>A+: 1 <br> A-: 2 <br> B+: 3 <br> B-: 4 <br> AB+:5 <br> AB-: 6 <br> O+: 7 <br> O-: 8 <br> RH+: 9 <br> RH-: 10</div>" id="tt3" data-html="true">
                </i>
              </a>
              <br>
             {# {{form_widget(form., {'attr': {'placeholder': 'Foto'|trans}} )}}<font color="red"> *</font><br> #}
            {{form_end(form)}}
          </div>
        </div>
        <div class="col-md-2 tRight">
          <button class="btn btn-large btn-success sharp sp" type="submit" id="jugador_Salvar" name="jugador[Salvar]"><i class="glyphicon-ok glyphicon"></i> Salvar</button>
          <a class="btn btn-large btn-danger sharp" href="{{url('limubacadministrator_jugadoresAdmin')}}"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
        </div>
      </div>
    </div>
  

  </form>
{% endblock %}