{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
       
        <!-- Page Content -->
       
                {#INICIO FILA 1#}
                <div id="fl-1" class="row">
                    
                    <a href="{{url('limubacadministrator_hojaAnotaciones')}}">
                        <div  class="col-lg-4">
                            <div id="hoja">
                                <img  id="hojaimg" src="{{asset('images/hoja.png')}}">
                            </div>
                        </div>
                    </a>

                    <div class="col-lg-4">
                        <div id="equipos" >
                            <img id="eqimg" src="{{asset('images/eq.png')}}">
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div id="jugadores" >
                            <img id="jugadoresimg" src="{{asset('images/jugadores.png')}}">
                        </div>
                    </div>
                  
                </div>
                {#FIN FILA 1#}
                <div id="fl-2" class="row">

                    <div class="col-lg-4">
                        <div id="arbitros" >
                            <img id="arbitrosimg" src="{{asset('images/arbitros.png')}}">
                        </div>
                    </div>

                    <div  class="col-lg-4">
                        <div id="avisos" >
                            <img id="avisosimg" src="{{asset('images/avisos.png')}}">
                        </div>

                    </div>
                    <div id="mas" class="col-lg-4"></div>

                </div>

            </div>
        </div>
{% endblock %}


    

