{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}

  <form class="form-horizontal" role="form" action="../app_dev.php/acCategoria">
    <div class="row-fluid">
      <div class="col-md-12 borBox well btn-dashboard">     
        <div class="formAnotacion form-group">
          <div class="col-md-6 tLeft" >
            <h1>Categorias</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-md-12 borBox wellDark btn-dashboard">
        <div class="formAnotacion form-group">
          <h3 class="col-md-7">Accion</h3>
          <div class="btn-group sharp pull-right">
            <a class="btn btn-primary btn-info" href="{{url('limubacadministrator_crearCategoria')}}"><i class="glyphicon-plus glyphicon"></i> Crear Categoria</a>
            <a class="btn btn-primary btn-info" href="{{url('limubacadministrator_torneos')}}"><i class="glyphicon-plus glyphicon"></i> Torneos</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
        <div class="formAnotacion form-group col-md-12" style="padding-left:0px; padding-right:0px;">
          <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
            <table class="table table-bordered" >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Limite de Equipo</th>
                  <th>Editar</th>
                </tr>
              </thead>
              <tbody>
                {% for entitie in entities %}
                  <tr>
                    <td> {{entitie.idCategoria}} </td>
                    <td> {{entitie.nombre}} </td>
                    <td> {{entitie.edad}} </td>
                    <td> {{entitie.limiteEquipo}} </td>
                    <td>
                      <div class="btn-group sharp" data-toggle="radio" style="width: 50px">
                        <button class="btn btn-mini btn-success" type='submit' name='edit[]' value ='{{entitie.idCategoria}}'>
                          <i class="glyphicon-pencil glyphicon"></i>
                        </button>
                      </div>  
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </form>

{% endblock %}