{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
  {% block documentReady %}
  <script>
    $(document).ready(function(){
      $("[rel=tooltip]").tooltip({ placement: 'right'});
    });
  </script>
  {% endblock documentReady %}
  <form class="form-horizontal" role="form" action="../app_dev.php/editfin">
    
    <div class="row-fluid">
      <div class="page-header">
        <h1>Finanzas <small>Pagos de equipos por torneo</small>
        </h1>
      </div>
      <div class="row-fluid">
        <div class="col-md-2">
          <h5>h</h5><br>
          <h4> Nombre: </h4>
          <h4> Categoria: </h4><br>
          <h4> Inscripcion: </h4><br>
          <h4> Dia: </h4>
          <h4> Hora: </h4>
          <h4> Monto: </h4><br>
          <h4> A cuenta: </h4>
          <h4> Manejo: </h4><br>
          <h4> Mes 1: </h4>
          <h4> Mes 2: </h4>
          <h4> Mes 3: </h4>
          <h4> Mes 4: </h4>
          <h4> Mes 5: </h4>
          <h4> Mes 6: </h4>
          <h4> Mes 7: </h4>
        </div>
        <div class="col-md-8">
          <div class="form sharp vertical">
            <h6>Nombre y Categoria no se pueden modificar</h6>
            <br>
              <form action="demo_form.asp" id="datos" name="datos">
                <input type="text" name="nombre" value="{{query[0]['equipo']}}" disabled><br>
                <input type="text" name="categoria" value="{{query[0]['categoria']}}" disabled><br><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="inscripcion" value="{{query[0]['inscripcion']}}"><br><br>
                <input type="text" name="dia" value="{{query[0]['dia']}}"><br>
                <input type="text" name="hora" value="{{query[0]['hora']}}"><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="monto" value="{{query[0]['monto']}}"><br><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="acuenta" value="{{query[0]['cuenta']}}"><br>
                <input type="text" name="manejo" value="{{query[0]['manejo']}}"><br><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="mes1" value="{{query[0]['mes1']}}"><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="mes2" value="{{query[0]['mes2']}}"><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="mes3" value="{{query[0]['mes3']}}"><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="mes4" value="{{query[0]['mes4']}}"><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="mes5" value="{{query[0]['mes5']}}"><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="mes6" value="{{query[0]['mes6']}}"><br>
                <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' name="mes7" value="{{query[0]['mes7']}}"><br>
                <input type="hidden" name="ides" value="{{query[0]['ide']}}"><br>
                <input type="hidden" name="nump" value="{{query[0]['nump']}}"><br>
              </form>
              {% block javascripts %}
                <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
                <script type="text/javascript">
                  $(document).ready(function() {
                     $("#txtboxToFilter").keydown(function (e) {
                          // Allow: backspace, delete, tab, escape, enter and .
                          if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                               // Allow: Ctrl+A
                              (e.keyCode == 65 && e.ctrlKey === true) ||
                               // Allow: Ctrl+C
                              (e.keyCode == 67 && e.ctrlKey === true) ||
                               // Allow: Ctrl+X
                              (e.keyCode == 88 && e.ctrlKey === true) ||
                               // Allow: home, end, left, right
                              (e.keyCode >= 35 && e.keyCode <= 39)) {
                                   // let it happen, don't do anything
                                   return;
                          }
                          // Ensure that it is a number and stop the keypress
                          if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                              e.preventDefault();
                          }
                      });
                  });
                </script>
              {% endblock javascripts %}
              {#{form_widget(form.idJugador, {value : edita[0]['idJugador']} ) }#}
          </div>
        </div>
        <div class="col-md-2 tRight">
          <button class="btn btn-large btn-success sharp sp" type="submit" id="edita_finanzas" name="equipo[{{query[0]['nump']}}]" style="
    margin-left: 0px;"><i class="glyphicon-ok glyphicon"></i> Actualizar</button>
          <a class="btn btn-large btn-danger sharp" href="{{url('limubacadministrator_finanzas')}}"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
        </div>
      </div>
    </div>
  

  </form>
{% endblock %}