{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
  {% block documentReady %}
  <script>
    $(document).ready(function(){
      $("[rel=tooltip]").tooltip({ placement: 'right'});
    });

     $(document).ready(function() {
    // Function for Preview Image.
    $(function() {
      $(":file").change(function() {
        if (this.files && this.files[0]) {
          var img = document.getElementById('actim');
          img.style.visibility = 'hidden';

          var reader = new FileReader();
          reader.onload = imageIsLoaded;
          reader.readAsDataURL(this.files[0]);
        }
      });
    });

    function imageIsLoaded(e) {
      $('#message').css("display", "none");
      $('#preview').css("display", "block");
      $('#previewimg').attr('src', e.target.result);
    };

    // Function for Deleting Preview Image.
    $("#deleteimg").click(function() {
      $('#preview').css("display", "none");
      $('#file').val("");
    });

    // Function for Displaying Details of Uploaded Image.
    $("#submit").click(function() {
      $('#preview').css("display", "none");
      $('#message').css("display", "block");
    });
  });
  </script>
  {% endblock documentReady %}
  <form class="form-horizontal" role="form" action="../app_dev.php/editar">
    
    <div class="row-fluid">
      <div class="page-header">
        <h1>Jugadores <small>Modifica jugadores de LIMUBAC</small>
        </h1>
      </div>
      <div class="row-fluid">
        <div class="col-md-3 profilePerson thumbnail">
          {% if edita[0][4] != null %}
            <div id="preview">
              <img id="previewimg" src=""><img id="deleteimg" src="/limubac/path/web/delete.png">
            </div>
            <p><img id="actim"src="{{ asset ('\upload/images/' ~ photo[0]['foto']) }}" width="250px" alt=""/></p>
          {% else %}
            <div id="preview">
              <img id="previewimg" src=""><img id="deleteimg" src="/limubac/path/web/delete.png">
            </div>
            <p><img id="actim"src="{{ asset ('\upload/images/nopic.jpg') }}" width="250px" alt=""/></p>
          {%  endif %}
          <div class="profileOptions"></div>
        </div>
        <div class="col-md-7">
          <div class="form sharp vertical">
            <h6>Debes llenar todos los campos marcados con un asterisco</h6>
            <br>
              {{form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                {{form_widget(form.idJugador, {value : edita[0]['idJugador']} ) }}
                {{form_widget(form.nombre, {value : edita[0]['nombre']} )}}<font color="red"> *</font><br>
                {{form_widget(form.apPaterno, {value : edita[0]['apPaterno']} )}}<font color="red"> *</font><br>
                {{form_widget(form.apMaterno, {value : edita[0]['apMaterno']} )}}<font color="red"> *</font><br>
                <br>
                {{form_widget(form.fNacimiento, {value : edita[0]['fNacimiento']|date('Y-m-d')} )}}
                <br>
                {{form_widget(form.correo, {value : edita[0]['correo']} )}}<font color="red"> *</font><br>
                {{form_widget(form.telefono, {value : edita[0]['telefono']} )}}<font color="red"> *</font><br>
                {{form_widget(form.profesion, {value : edita[0]['profesion']} )}}<font color="red"> *</font><br>
                <font color:#999>Status: </font>{{form_widget(form.idStatus, {value : edita[0][1]} )}}<font color="red"> * </font>
                <br>
                <br>
                <font color:#999>Genero: </font>{{form_widget(form.idGenero, {value : edita[0][2]} )}}<font color="red"> * </font><br>
                {{form_widget(form.estatura, {value : edita[0]['estatura']} )}}<font color="red"> *</font><br>
                {{form_widget(form.peso, {value : edita[0]['peso']} )}}<font color="red"> *</font><br>
                <font color:#999>Tipo sanguineo: </font>{{form_widget(form.idTiposanguineo, {value : edita[0][3]} )}}<font color="red"> * </font>
                <br>
               {# {{form_widget(form.foto, {'attr': {'placeholder': 'Foto'|trans}} )}}<font color="red"> *</font><br> #}
                {% if edita[0][4] != null %}
                  <h6>Este jugador ya tiene una fotografia asociada</h6>
                {% else %}
                  <h6>Ingresa fotografia de jugador</h6>
                {% endif %}
              {{form_end(form)}}

            <!--Inicio ingreso de fotografia-->
                <div id="mainform">
                  <div id="innerdiv">
                    <!-- Required Div Starts Here -->
                    <div id="formdiv">
                      <br>
                      <h3>Ingresa fotografia</h3>
                      <div id="detail">
                        <b>Nota:</b>
                        <ul>
                        <li>Seleccione un archivo .</li>
                        <li>Formatos admitidos- <b>imagenes(jpeg,jpg,png).</b></li>
                        <li>Debe pesar menos de 300kb.</li>
                        </ul>
                      </div>
                      <form action="" enctype="multipart/form-data" id="form" method="post" name="form">
                        <div id="upload">
                          <input id="file" name="file" type="file">
                          <input id="idi" name="idi" type="hidden" value="{{edita[0]['idJugador']}}">
                        </div>
                        <br>
                        <button class="btn btn-primary btn-info" type="submit" id="fotosup" name="fotosup"><i class="glyphicon-ok glyphicon"></i> Subir fotografia</button>
                      </form>
                    </div>
                    <div id="clear"></div>
                    <div id="message"></div>
                  </div>
                </div>
            <!--Fin ingreso de fotografia-->
          </div>
        </div>
        <div class="col-md-2 tRight">
          <button class="btn btn-large btn-success sharp sp" type="submit" id="jugador_Editar" name="jugador[{{edita[0]['nombre']}}]" style="
    margin-left: 0px;"><i class="glyphicon-ok glyphicon"></i> Actualizar</button>
          <a class="btn btn-large btn-danger sharp" href="{{url('limubacadministrator_jugadoresAdmin')}}"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
        </div>
      </div>
    </div>
  

  </form>
{% endblock %}