{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
	<div class="row-fluid">
     	<div class="col-md-12 borBox well btn-dashboard">			
        <div class="formAnotacion form-group">
        <div class="col-md-6 tLeft" >
            <h1>{{equipo.nombre}}</h1>
		</div>
		</div>
		</div>
	</div>
	</br>
	
	<form class="formAnotacion form-group col-md-12" action="../app_dev.php/equipo" method="post">
		{% for capi in capitan %}
		<label class="col-md-2">Capitan</label>
		<div class="col-md-1">		    	
			<input class="form-control" name="idCapitan" placeholder="{{capi.idJugador}}">
		</div>
		<div class="col-md-4">
			<input class="form-control" name="NomCapitan" placeholder="{{capi.nombre}} {{capi.apPaterno}} {{capi.apMaterno}}">
		</div>
		<input name="opciones" type="hidden" value="{{equipo.idEquipo}}">
		<div class="col-md-3">
			<button class="btn btn-primary" type="submit">Actualizar</button>
		</div>
		{% endfor%}
	</form>
	
	<form class="formAnotacion form-group col-md-12"" action="../app_dev.php/equipo" method="post">
		{% for Rep in representante %}
		<label class="col-md-2">Representante</label>
		<div class="col-md-1">		    			
			<input class="form-control" name="idRepresentante" placeholder="{{Rep.idJugador}}">
		</div>
		<div class="col-md-4">
			<input class="form-control" name="NomRepresentante" placeholder="{{Rep.nombre}} {{Rep.apPaterno}} {{Rep.apMaterno}}">
		</div>
		<input name="opciones" type="hidden" value="{{equipo.idEquipo}}">
		<div class="col-md-3">
			<button class="btn btn-primary" type="submit">Actualizar</button>
		</div>
		{%endfor%}
	</form>
	
	<form class="formAnotacion form-group col-md-12"" action="../app_dev.php/equipo" method="post">
	{% for Aux in auxiliar %}
		<label class="col-md-2">Auxiliar</label>
		<div class="col-md-1">		    			
			<input class="form-control" name="idAuxiliar" placeholder="{{Aux.idJugador}}">
		</div>
		<div class="col-md-4">
			<input class="form-control" name="NomAuxiliar" placeholder="{{Aux.nombre}} {{Aux.apPaterno}} {{Aux.apMaterno}}">
		</div>
		<input name="opciones" type="hidden" value="{{equipo.idEquipo}}">
		<div class="col-md-3">
			<button class="btn btn-primary" type="submit">Actualizar</button>
		</div>
		{%endfor%}
	</form>
	
	<div class="row-fluid borBox btn-dashboard">
     	<div class="col-md-12 well">			
        <div class="formAnotacion form-group">
        <div class="col-md-6 tLeft">
            <h1>Jugadores</h1>
		</div>
		</div>
		
		{% for jugador in jugadores %}
		<form class="formAnotacion form-group col-md-12"" action="../app_dev.php/equipo" method="post">
			<div class="col-md-1">		    			
				<label class="form-control" name="idJugador">{{jugador.idJugador}}</label>
			</div>
			<div class="col-md-1">		    			
				<input class="form-control" name="NoJugador" placeholder="{{jugador.noPlayera}}">
			</div>
			<div class="col-md-4">
				<label class="form-control" name="NomJugador">{{jugador.nombre}}</label>
			</div>
			<input name="opciones" type="hidden" value="{{equipo.idEquipo}}">
			<div class="col-md-3">
				<button class="btn btn-primary" type="submit">Actualizar</button>
			</div>
		</form>
		{% endfor%}
		
		<form class="formAnotacion form-group col-md-12"" action="../app_dev.php/equipo" method="post">
			<div class="col-md-1">		    			
				<input class="form-control" name="idJugador" placeholder="Id Jugador">
			</div>
			<div class="col-md-1">		    			
				<input class="form-control" name="NoJugador" placeholder="Numero">
			</div>
			<input name="opciones" type="hidden" value="{{equipo.idEquipo}}">
			<div class="col-md-3">
				<button class="btn btn-primary" type="submit" name="accion" value="Nuevo">Nuevo</button>
			</div>
		</form>
	</div>
	
	
	
		
							
		

		
{% endblock %}