{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
	<div class="row-fluid">
     	<div class="col-md-12 borBox well btn-dashboard">			
        <div class="formAnotacion form-group">
        <div class="col-md-6 tLeft" >
            <h1>{{equipo.nombre}}</h1>
		</div>
		</div>
		</div>
	</div>
	{% if mensaje!=null %}
	<div class="col-md-12 bg-danger">		    			
			<label class="col-md-12">{{mensaje}}</label>
	</div>
	{% endif %}
	
	<div class="row-fluid borBox btn-dashboard">
		<div class="col-md-6 well">	
			<div class="formAnotacion form-group row">
				<div class"col-md-6 tLeft">
					<h1>Jugadores</h1>
				</div>
			</div>
			<div class="formAnotacion form-group row">
				<div class="col-md-2">
					<h4>Playera</h4>
				</div>
				<div class="col-md-2">
					<h4>Nombre</h4>
				</div>
			</div>
			{% for jugador in jugadores %}
				<div class="formAnotacion form-group row">
					<form class="formAnotacion form-group" action="../app_dev.php/equipo" method="post">
						<div class="col-md-2">		    			
							<input class="form-control" name="NoJugador" placeholder="{{jugador.noPlayera}}">
						</div>
						<div class="col-md-7">
							<label class="form-control" name="NomJugador">{{jugador.nombre}}  {{jugador.apPaterno}} {{jugador.apMaterno}}</label>
						</div>
						<input name="opciones" type="hidden" value="{{equipo.idEquipo}}">
						<button class="btn btn-primary btn-info" type="submit">Actualizar</button>
					</form>
				</div>
			{% endfor%}
		</div>
		<div class="col-md-6 well">	
			<div class="formAnotacion form-group row">
				<div class"col-md-6 tLeft">
					<h1>Agregar</h1>
				</div>
			</div>
			<br>
            {{form_start(form, {attr: {novalidate: 'novalidate'}}) }}
              {{form_widget(form.nombre, {'attr': {'placeholder': 'Nombre'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.apPaterno, {'attr': {'placeholder': 'Apellido paterno'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.apMaterno, {'attr': {'placeholder': 'Apellido materno'|trans}} )}}<font color="red"> *</font><br>
              <br>
              {{form_widget(form.fNacimiento)}}
              <br>
              {{form_widget(form.correo, {'attr': {'placeholder': 'Correo'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.telefono, {'attr': {'placeholder': 'Telefono'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.profesion, {'attr': {'placeholder': 'Profesion'|trans}} )}}<font color="red"> *</font><br>
              <br>
              <font color:#999>Genero: </font>{{form_widget(form.idGenero, {'attr': {'placeholder': 'Genero'|trans}} )}}<font color="red"> *</font>
              <br>
              {{form_widget(form.estatura, {'attr': {'placeholder': 'Estatura'|trans}} )}}<font color="red"> *</font><br>
              {{form_widget(form.peso, {'attr': {'placeholder': 'Peso'|trans}} )}}<font color="red"> *</font><br>
              <font color:#999>Tipo sanguineo: </font>{{form_widget(form.idTiposanguineo, {'attr': {'placeholder': 'Tipo Sanguineo'|trans}} )}}<font color="red"> * </font>
              <br>
             {# {{form_widget(form., {'attr': {'placeholder': 'Foto'|trans}} )}}<font color="red"> *</font><br> #}
            {{form_end(form)}}
			  <button class="btn btn-large btn-success sharp sp" type="submit" name="accion" value="Nuevo"><i class="glyphicon-ok glyphicon"></i> Agregar</button>
		</div>
	</div>	
{% endblock %}