{% extends '::base.html.twig' %}

{% block stylesheets %}
{{parent()}}
{% endblock %}




{% block body %}
	<div class="container-fluid">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			        <span class="sr-only">Toggle navigation</span>
			      </button>
		      {#logo#}
		      	<a class="navbar-brand" href="{{url('limubacadministrator_homepage')}}" ><img id="logo" src="{{ asset('favicon.ico') }}" alt="LIMUBAC" class="img-rounded"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		     	 <ul class="nav navbar-nav">
			      	<!--li>
			      		<button id="icono" type="button" class="btn btn-default btn-lg">
	  					<span id="flechita" class="glyphicon glyphicon-chevron-right"></span>
						</button>
					</li-->

			        <li class="inactive"><a href="{{url('limubacadministrator_homepage')}}">  INICIO</a></li>


		      	</ul>
		      	<ul class="nav navbar-nav navbar-centre">
		      			<li class="inactive"><a href="">    -------------------------------------------------------------------------------------------------------- SISTEMA LIMUBAC --------------------------------------------------------------------------------------------------------</a></li>
		      	</ul>

			    <ul class="nav navbar-nav navbar-right">
			    {% if cancelar is defined%}
			    <li class="dropdown">
				    <a href="" onclick="history.back()">
				    	{{ cancelar }}
				    </a>
			    </li>
			    {% endif %}
			        <li class="dropdown">
					{% if app.user.username is defined %}
				         <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				          	{{ app.user.name }}
				          	<span class="caret"></span>
				         </a>
				        	<ul class="dropdown-menu" role="menu">
					            <li><a href="{{url('limubacadministrator_miPerfil')}}">Mi perfil</a></li>
					            <li class="divider"></li>
					            <li><a href="{{url('limubacadministrator_logout')}}">Cerrar Sesion</a></li>
				          	</ul>
			          {% elseif app.user.username is not defined %}
				          	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				          		<li><a href="{{url('limubacadministrator_sessions')}}">Iniciar Sesion</a></li>
					        </a>
			          {% endif %}



			        </li>




			    </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		{% block sidebar%}

		<!--div id="wrapper">
        <!-- Sidebar -->
	        <!--div id="sidebar-wrapper">
		            <ul class="sidebar-nav ">
		                <!--li class="sidebar-brand">
		                    <!--a class="navbar-brand" href="{{url('limubacadministrator_homepage')}}" ><img id="limubac" src="{{ asset('favicon.ico') }}" alt="LIMUBAC" class="img-rounded"></a>
		                </li-->
									 <!--/br></br></br></br></br></br></br></br></br></br></br></br>
		                <li>
	                    	<a href="{{url('limubacadministrator_jugadoresAdmin')}}"><h2>Jugadores</h2></a>
		                </li>
						<li>
							<a href="{{url('limubacadministrator_selectTorneo')}}"><h2>Partidos</h2></a>
						</li>
		                <li>
		                    <a href="{{url('limubacadministrator_equipos')}}"><h2>Equipos</h2></a>
		                </li>
		                <li>
		                    <a href="{{url('limubacadministrator_torneos')}}"><h2>Torneos</h2></a>
		                </li>
		            </ul>
		        </div-->
		        <!-- /#sidebar-wrapper -->

		        <!-- Page Content -->
		        <div id="page-content-wrapper">

		        	<div class="container-fluid">
		        {% block PageContent %}
		        {% endblock %}
		        	</div>
		        </div>
        </div>
<!-- Menu Toggle Script >
    <script>
    $("#icono").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if($('#flechita').attr("class")=="glyphicon glyphicon-chevron-right"){
            $('#flechita').attr("class","glyphicon glyphicon-chevron-left");
        }else{
             $('#flechita').attr("class","glyphicon glyphicon-chevron-right");
        }
    });
    </script-->

		{% endblock %}
	</div>
{% endblock %}
