{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}
<script src="{{asset('js/funciones.js')}}"></script>
<form action="{{ path('limubacadministrator_hojaAnotaciones',{'idpartido':datosGenerales.0.idpartido})}}" method='POST' class="form-horizontal" role="form" id="formulario" >

	{#Encabezado primera parte#}

	<div class="bordes">
		<div class="formAnotacion form-group">

			<div class="col-md-3">

				<input class="form-control" id="EqA" name="EqA" placeholder="Equipo A" Value="{{datosGenerales.0.nombre}}" alt="{{ path('limubacadministrator_nombresEquipos')}}" disabled>

			</div>

			<label id="VS" class="col-md-1 text-center">VS</label>

			<div class="col-md-3">

				<input class="form-control" id="EqB" name="EqB" placeholder="Equipo B" Value="{{datosGenerales.1.nombre}}" disabled>
			</div>

			<div class="col-md-2">
				<input class="form-control" id="Rama" name="Rama" placeholder="Rama" value="{{datosGenerales.0.rama}}"  disabled>
			</div>

			<div class="col-md-3">
				<input class="form-control" id="Categoria" name="Categoria" placeholder="Categoria" value="{{datosGenerales.0.categoria}}" disabled>

			</div>

		</div>
	</div>
</br>

{#Encabezado segunda parte #}

<div class="bordes">
	<div class="formAnotacion form-group">
		{#Fila 1#}

		<label for="Lugar" class="col-md-1 control-label text-center">Lugar: </label>
		<div class="col-md-3">

			<input class="form-control" id="Lugar" name="Lugar" placeholder="Lugar" value="{{datosGenerales.0.lugar}}"  disabled>

		</div>

		<label for="Torneo" class="col-md-1 control-label text-center">Torneo: </label>
		<div class="col-md-3">

			<input class="form-control" id="Torneo" name ="Torneo" placeholder="Torneo" value="{{datosGenerales.0.torneo}}" alt="" disabled>

		</div>

		<label for="1erjuez" class="col-md-1 control-label text-center">1er. Juez: </label>
		<div class="col-md-3">

			<input class="form-control" id="1erjuez" name="Juez1" value="" placeholder="1er. Juez">

		</div>
		{#End Fila 1#}

		<div class="clearfix visible-xs-block"></div>

		{#Fila 2#}

		<label for="Fecha" name = "fecha" class="col-md-1 control-label text-center">Fecha: </label>
		<div class="col-md-3 Fila2">
			<input name = "Fecha"class="form-control" id="Fecha" placeholder="Fecha"  value=""  disabled>
		</div>


		<label for="Hora" name="hora" class="col-md-1 control-label text-center">Hora: </label>
		<div class="col-md-3 Fila2">
			<input class="form-control" name="Hora"id="Hora" placeholder="Hora"  value=""  disabled>

		</div>

		<label for="2dojuez" name="juez2" class="col-md-1 control-label text-center">2dojuez: </label>
		<div class="col-md-3 Fila2">
			<input name="Juez2"class="form-control" id="2dojuez" placeholder="2do. Juez" value="" >
		</div>
	</div>
</div>
</br>
<div class="bordes">
	<div class="formAnotacion form-group" style="padding-left:100px">
		<label  name="normal" class="col-md-1 control-label text-center">NORMAL </label>
		<div class="col-md-3">
	  	<input type="radio" name="estatus" id="inlineRadio1" value="1">
		</div>
		<label  name="normal" class="col-md-1 control-label text-center">DEFAULT</label>
		<div class="col-md-3">
	  	<input type="radio" name="estatus" id="inlineRadio1" value="2">
		</div>
		<label  name="normal" class="col-md-1 control-label text-center">EN MESA</label>
		<div class="col-md-3">
	  	<input type="radio" name="estatus" id="inlineRadio1" value="3">
		</div>
	</div>
  <div class="formAnotacion form-group"></br>
    <div class="bordes col-md-6 col-md-offset-5">
      <label  class="col-md-12 text-center">SELECCIONA EQUIPO GANADOR</label>
      <label  class="col-md-1 col-md-offset-2 control-label text-center">A</label>
  		<div class="col-md-3">
  	  	<input type="radio" name="Ganador" id="Ganador" value="A">
  		</div>
      <label  name="normal" class="col-md-1 control-label text-center">B</label>
  		<div class="col-md-3">
  	  	<input type="radio" name="Ganador" id="Ganador" value="B">
  		</div>
    </div>
</div>
</div>
</br>

<div class="bordes col-md-6 form-group margen-bot">
	{% if errores is defined %}
		{% if errores.AsistenciaA != 0%}
		<div class="col-md-12 alert alert-danger text-center" role="alert">Ups! Para un partido oficial debe haber mínimo 4 asistentes, verifica si marcaste bien la asistencia</div>
		{% endif %}
	{% endif %}
	<label class="text-center col-md-12">EQUIPO A</label>
	<table class="table table-bordered" style="table-layout:fixed" >
		<thead>
			<tr>
				<th class = "text-center">Nombre</th>
				<th class = "text-center">Apellido Paterno</th>
				<th class = "text-center">Apellido Materno</th>
				<th class = "text-center">Asistencia</th>
				<th class="text-center faltascol">Faltas</th>
			</tr>
		</thead>
		<tbody>
			{% for jugador in ListA %}
			<tr>
				<td>{{jugador.nombre}}</td>
				<td>{{jugador.apPaterno}}</td>
				<td>{{jugador.apMaterno}}</td>
				<td>
					<input type="checkbox" name="asistA[]" class="group2 text-center" value="{{jugador.idJugador}}">
				</td>
				<td>
					<select name="faltasA[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
						<option  value="0">-</option>
						<option  value="5">F</option>
						<option  value="2">F1</option>
						<option  value="3">F2</option>
						<option  value="4">T</option>
						<option  value="1">D</option>
					</select>
					<select name="faltasA[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
						<option  value="0">-</option>
						<option  value="5">F</option>
						<option  value="2">F1</option>
						<option  value="3">F2</option>
						<option  value="4">T</option>
						<option  value="1">D</option>
					</select>
					<select name="faltasA[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
						<option  value="0">-</option>
						<option  value="5">F</option>
						<option  value="2">F1</option>
						<option  value="3">F2</option>
						<option  value="4">T</option>
						<option  value="1">D</option>
					</select>
					<select name="faltasA[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
						<option  value="0">-</option>
						<option  value="5">F</option>
						<option  value="2">F1</option>
						<option  value="3">F2</option>
						<option  value="4">T</option>
						<option  value="1">D</option>
					</select>
					<select name="faltasA[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
						<option  value="0">-</option>
						<option  value="5">F</option>
						<option  value="2">F1</option>
						<option  value="3">F2</option>
						<option  value="4">T</option>
						<option  value="1">D</option>
					</select>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="bordes col-md-6 form-group margen-bot">
	{% if errores is defined %}
		{% if errores.AsistenciaB != 0%}
		<div class="col-md-12 alert alert-danger text-center" role="alert">Ups! Para un partido oficial debe haber mínimo 4 asistentes, verifica si marcaste bien la asistencia</div>
		{% endif %}
	{% endif %}
	<label class="text-center col-md-12">EQUIPO B</label>
	<table class="table table-bordered" style="table-layout:fixed" >
		<thead>
			<tr>

				<th class="text-center">Nombre</th>
				<th class="text-center">Apellido Paterno</th>
				<th class="text-center">Apellido Materno</th>
				<th class="text-center">Asistencia</th>
				<th class="text-center faltascol">Faltas </th>
			</tr>
			</thead
			<tbody>
				{% for jugador in ListB %}
				<tr>
					<td>{{jugador.nombre}}</td>
					<td>{{jugador.apPaterno}}</td>
					<td>{{jugador.apMaterno}}</td>
					<td>
						<input type="checkbox" name="asistB[]" class="group2 text-center" value="{{jugador.idJugador}}">
					</td>
					<td>
						<select name="faltasB[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
							<option  value="0">-</option>
							<option  value="5">P1</option>
							<option  value="2">P2</option>
							<option  value="3">P3</option>
							<option  value="4">T1</option>
							<option  value="1">D2</option>
						</select>
						<select name="faltasB[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
							<option  value="0">-</option>
							<option  value="5">P1</option>
							<option  value="2">P2</option>
							<option  value="3">P3</option>
							<option  value="4">T1</option>
							<option  value="1">D2</option>
						</select>
						<select name="faltasB[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
							<option  value="0">-</option>
							<option  value="5">P1</option>
							<option  value="2">P2</option>
							<option  value="3">P3</option>
							<option  value="4">T1</option>
							<option  value="1">D2</option>
						</select>
						<select name="faltasB[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
							<option  value="0">-</option>
							<option  value="5">P1</option>
							<option  value="2">P2</option>
							<option  value="3">P3</option>
							<option  value="4">T1</option>
							<option  value="1">D2</option>
						</select>
						<select name="faltasB[{{jugador.idJugador}}][]" class="form-control group2 checkbox-inline">
							<option  value="0">-</option>
							<option  value="5">P1</option>
							<option  value="2">P2</option>
							<option  value="3">P3</option>
							<option  value="4">T1</option>
							<option  value="1">D2</option>
						</select>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	{#End Fila 2#}
	<div class="col-md-12">
		{% if errores is defined %}
		{% if errores.Playera!= 0%}
		<div class="col-md-12 alert alert-danger text-center" role="alert">Ups! Parece que un numero de playera es incorrecto</div>
		{% endif %}
		{% endif %}

		<div class="bordes col-md-3">
			{% for i in 1..30 %}
			<div class="formAnotacion form-group">{#1#}
				<div class="col-md-4">
					<input class="form-control" id="NA" name="NumanotadorA{{ i }}" placeholder="Numero">
				</div>
				<div class="col-md-1 AglinBoxA">
					<input class="boxMarcador"type="checkbox" id="inlineCheckboxA{{ i }}" value="{{ i }}" name="MarcadorCuartoA[]">
				</div>
				<label class="col-md-2 text-center ">{{ i }}</label>
				<div class="col-md-1 AglinBoxB">
					<input class="boxMarcador"type="checkbox" id="inlineCheckboxB{{ i }}" value="{{ i }}"  name="MarcadorCuartoB[]">
				</div>
				<div class="col-md-4">
					<input class="form-control" id="NA" name="NumanotadorB{{ i }}" placeholder="Numero">
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="bordes col-md-3">
			{% for i in 31..60 %}
			<div class="formAnotacion form-group">{#1#}
				<div class="col-md-4">
					<input class="form-control" id="NA" name="NumanotadorA{{ i }}" placeholder="Numero">
				</div>
				<div class="col-md-1 AglinBoxA">
					<input class="boxMarcador"type="checkbox" id="inlineCheckboxA{{ i }}" value="{{ i }}" name="MarcadorCuartoA[]">
				</div>
				<label class="col-md-2 text-center ">{{ i }}</label>
				<div class="col-md-1 AglinBoxB">
					<input class="boxMarcador"type="checkbox" id="inlineCheckboxB{{ i }}" value="{{ i }}" name="MarcadorCuartoB[]">
				</div>
				<div class="col-md-4">
					<input class="form-control" id="NA" name="NumanotadorB{{ i }}" placeholder="Numero">
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="bordes col-md-3">
			{% for i in 61..90 %}
			<div class="formAnotacion form-group">{#1#}
				<div class="col-md-4">
					<input class="form-control" id="NA" name="NumanotadorA{{ i }}" placeholder="Numero">
				</div>
				<div class="col-md-1 AglinBoxA">
					<input class="boxMarcador"type="checkbox" id="inlineCheckboxA{{ i }}" value="{{ i }}"  name="MarcadorCuartoA[]">
				</div>
				<label class="col-md-2 text-center ">{{ i }}</label>
				<div class="col-md-1 AglinBoxB">
					<input class="boxMarcador"type="checkbox" id="inlineCheckboxB{{ i }}" value="{{ i }}" name="MarcadorCuartoB[]">
				</div>
				<div class="col-md-4">
					<input class="form-control" id="NA" name="NumanotadorB{{ i }}" placeholder="Numero">
				</div>
			</div>
			{% endfor %}
		</div>

		<div class="bordes col-md-3">
			{% for i in 91..120 %}
			<div class="formAnotacion form-group">{#1#}
				<div class="col-md-4">
					<input class="form-control" id="NA" name="NumanotadorA{{ i }}" placeholder="Numero">
				</div>
				<div class="col-md-1 AglinBoxA">
					<input class="boxMarcador"type="checkbox" id="inlineCheckboxA{{ i }}" value="{{ i }}"  name="MarcadorCuartoA[]">
				</div>
				<label class="col-md-2 text-center ">{{ i }}</label>
				<div class="col-md-1 AglinBoxB">
					<input class="boxMarcador"type="checkbox" id="inlineCheckboxB{{ i }}" value="{{ i }}" name="MarcadorCuartoB[]">
				</div>
				<div class="col-md-4">
					<input class="form-control" id="NA" name="NumanotadorB{{ i }}" placeholder="Numero">
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<div class="bordes col-md-6" style="margin-top: 20px">
    <label for="primero" class="col-md-12  text-center">Equipo A</label>
		<label for="primero" class="col-md-1 control-label text-center">Primero: </label>
		<div class="col-md-2">

			<input class="form-control" id="primero" name="primeroA" placeholder="" value="">

		</div>

		<label for="segundo" class="col-md-1 control-label text-center">Segundo: </label>
		<div class="col-md-2">

			<input class="form-control" id="segundo" name="segundoA" placeholder="" value="">

		</div>

		<label for="tercero" class="col-md-1 control-label text-center">Tercero: </label>
		<div class="col-md-2">
			<input class="form-control" id="tercero" name="terceroA" placeholder="" value="">
		</div>
		<label for="tercero" class="col-md-1 control-label text-center">Cuarto </label>
		<div class="col-md-2">
			<input class="form-control" id="cuarto" name="cuartoA" placeholder="" value="">
		</div>
    <label for="tercero" class="col-md-1 control-label text-center">Complementario </label>
		<div class="col-md-2">
			<input class="form-control" id="cuarto" name="ComlpementarioA" placeholder="" value="">
		</div>
	</div>
  <div class="bordes col-md-6" style="margin-top: 20px">
    <label for="primero" class="col-md-12 text-center">Equipo B</label>
		<label for="primero" class="col-md-1 control-label text-center">Primero: </label>
		<div class="col-md-2">

			<input class="form-control" id="primero" name="primeroB" placeholder="" value="">

		</div>

		<label for="segundo" class="col-md-1 control-label text-center">Segundo: </label>
		<div class="col-md-2">

			<input class="form-control" id="segundo" name="segundoB" placeholder="" value="">

		</div>

		<label for="tercero" class="col-md-1 control-label text-center">Tercero: </label>
		<div class="col-md-2">
			<input class="form-control" id="tercero" name="terceroB" placeholder="" value="">
		</div>
		<label for="tercero" class="col-md-1 control-label text-center">Cuarto </label>
		<div class="col-md-2">
			<input class="form-control" id="cuarto" name="cuartoB" placeholder="" value="">
		</div>
    <label for="tercero" class="col-md-1 control-label text-center">Complementario </label>
		<div class="col-md-2">
			<input class="form-control" id="cuarto" name="ComlpementarioB" placeholder="" value="">
		</div>
	</div>

	<div class=col-md-12>
	<div class="col-md-3 col-md-offset-9">
	<input class=" btn btn-success btn-lg" type="submit" />
	</div>
	</div>


{#End marcador 1#}
</form>
{% endblock %}
