{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}
{% block PageContent %}
<script src="{{asset('js/funciones.js')}}"></script>
<label>Seleccionar jornada</label>
<nav>
  <ul class="pagination pagination-lg">
  {% for i in 1.. cantidadJornadas %}
    <li class="{% if i != jornada %} disable {% else %} active {% endif %}"><a  href="{{path('limubacadministrator_partidos',{'idtorneo':listaPartidos.0.0.0.torneo,'jornada': i})}}" >{{i}}</a></li>
    {% endfor %}
  </ul>
</nav>
<div class="bordes">
	<table class="table table-bordered" style="table-layout:fixed" >
        <thead>
            <tr>
     	        <th class = "text-center">#Partido</th>
                <th class = "text-center">Equipo A</th>
                <th class = "text-center">Equipo B</th>
				<th class= "text-center">Informacion</th>
                <th class = "text-center">Hoja Anotacion</th>
                <th class = "text-center">Imprimir hoja de anotaciones</th>
            </tr>
        </thead>
        <tbody>
			{% for partido in listaPartidos%}                      	
				<tr>
                    <td>{{partido.0.idPartido}}</td>
                    <td>{{partido.0.nombre}}</td>
              		<td>{{partido.1.nombre}}</td>
					{% if partido.0.idPartido  in listPartidosCompletos %}
	              		<td>
							<button id=Completar{{partido.0.idPartido}} type="button" value={{partido.0.idPartido}} class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" onclick="formCompletar({{partido.0.idPartido}},{{listaPartidos.0.0.0.torneo}})" disabled>Completo</button>
						</td>
                    	{% if partido.0.commited == 0%}
                        	<td>
                        		<a class="btn btn-default" href="{{path('limubacadministrator_hojaAnotaciones',{'idpartido':partido.0.idPartido})}}" role="button">Cargar Anotaciones</a>
                        	</td>
                        	<td>
		                    	<a class="btn btn-default" href="#" role="button" disabled>Hoja PDF</a>
		                    </td>
                        {% else %}
                            <td>
                            	<a class="btn btn-default" href="{{path('limubacadministrator_hojaAnotaciones',{'idpartido':partido.0.idPartido})}}" role="button" disabled >Anotaciones Cargadas</a>
                            </td>
                            <td>
                            	<form class="form-horizontal" role="form" action="{{path('limubacadministrator_hojapdf',{'pdf':partido.0.idPartido})}}">
                            		<button class="btn btn-primary btn-info" type='submit' formtarget="_blank" name='pdf' value="{{partido.0.idPartido}}">
		                        		<i class="glyphicon glyphicon-file"></i> Hoja PDF
		                      		</button>
                            	</form>
		                    </td>
                        {% endif %}
					{% else %}
						<td>
							<button id=Completar{{partido.0.idPartido}} type="button" value={{partido.0.idPartido}} class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" onclick="formCompletar({{partido.0.idPartido}},{{listaPartidos.0.0.0.torneo}})">Completar</button>
						</td>
	                    <td>
	                    	<a class="btn btn-default" href="{{path('limubacadministrator_hojaAnotaciones',{'idpartido':partido.0.idPartido})}}" role="button" disabled>Cargar Anotaciones</a>
	                    </td>
	                    <td>
	                    	<a class="btn btn-default" href="#" role="button" disabled>Hoja PDF</a>
	                    </td>
					{% endif %}
              	</tr>
		   {% endfor %}
      	</tbody>
    </table>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Informacion General</h4>
      </div>
      <div class="modal-body">
				<div class="container-fluid">
				<form class="form-horizontal" action="{{path('limubacadministrator_completarInfoPartidoPost',{'idtorneo':listaPartidos.0.0.0.torneo})}}" method='POST' name="formulariocompletar" role="form" id="formulariocompletar">
				  <div class="form-group">
				    <label for="cancha" class="col-sm-2 control-label">Cancha</label>
				    <div class="col-sm-10">
				      <select class="form-control" name=cancha id="cancha">
				        <option>-</option>
				        {% for sede in listSede %}
				        <option value={{sede.idSede}}>{{sede.nombre}}</option>
				        {% endfor %}
				      </select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="Arbitro1" class="col-sm-2 control-label">Arbitro 1</label>
				    <div class="col-sm-10">
				      <select class="form-control" name="arbitro1">
				        <option>-</option>
				        {% for arbitro in listArbitros %}
				        <option value={{arbitro.idArbitro}}>{{arbitro.nombre}}</option>
				        {% endfor %}
				      </select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="Arbitro2" class="col-sm-2 control-label">Arbitro 2</label>
				    <div class="col-sm-10">
				      <select class="form-control" name="arbitro2">
				        <option>-</option>
				        {% for arbitro in listArbitros %}
				        <option value={{arbitro.idArbitro}}>{{arbitro.nombre}}</option>
				        {% endfor %}
				      </select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="Arbitro3" class="col-sm-2 control-label">Arbitro 3</label>
				    <div class="col-sm-10">
				      <select class="form-control" name="arbitro3">
				        <option>-</option>
				        {% for arbitro in listArbitros %}
				        <option value={{arbitro.idArbitro}}>{{arbitro.nombre}}</option>
				        {% endfor %}
				      </select>
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="HoraInicio" class="col-sm-2 control-label">Hora Inicio</label>
				    <div class="col-sm-10">
				      <input type="time" class="form-control" id="HoraInicio" name="horainicio" placeholder="HoraInicio">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="HoraFin" class="col-sm-2 control-label">Hora Fin</label>
				    <div class="col-sm-10">
				      <input type="time" class="form-control" id="HoraFin" name="HoraFin" placeholder="HoraFin">
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="submit" class="btn btn-success">Registrar</button>
				    </div>
				  </div>
				</form>
			</div>
      </div>

    </div>
  </div>
</div>{#//Form completar#}




{% endblock %}
