{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}


	<form class="form-horizontal" role="form" action="../app_dev.php/addrol">

    <div class="row-fluid">
      <div class="col-md-12 borBox wellDark btn-dashboard">
        <div class="formRol form-group">
          <h3 class="col-md-3">Accion</h3>
			<select name='categoria[]' width="200" style="width: 200px">
				<option value='0' selected>Categoria:</option>
				{% for categ in categs %}
				<option value='{{categ.idCategoria}}'>{{categ.nombre}}</option>
				{% endfor %}
			</select>
			<select name='rama[]' width="200" style="width: 200px">
				<option value='0' selected>Rama:</option>
				{% for rama in ramas %}
				<option value='{{rama.idRama}}'>{{rama.nombre}}</option>
				{% endfor %}
			</select>
          <div class="btn-group sharp pull-right">
            {% for rol in rols %}
            <button class="btn btn-mini btn-success" type='submit' name='rol[]' value ='{{rol}}'></i> Crear nuevo Rol</button>
			{% endfor %}
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}