{% extends 'limubacadministratorBundle:administracion:header.html.twig'%}

{% block PageContent %}

  <form class="form-horizontal" role="form" action="../app_dev.php/acTorneo">
    <div class="row-fluid">
      <div class="col-md-12 borBox well btn-dashboard">     
        <div class="formAnotacion form-group">
          <div class="col-md-6 tLeft" >
            <h1>Seccion de Torneos</h1>
          </div>
        </div>
      </div>
    </div>
    {% if is_granted('ROLE_ADMIN')%}
    <div class="row-fluid">
      <div class="col-md-12 borBox wellDark btn-dashboard">
        <div class="formAnotacion form-group">
          <h3 class="col-md-7">Accion</h3>
          <div class="btn-group sharp pull-right">
            <a class="btn btn-primary btn-info" href="{{url('limubacadministrator_categorias')}}"><i class="glyphicon-plus glyphicon"></i> Categorias</a>
            <a class="btn btn-primary btn-info" href="{{url('limubacadministrator_crearTorneo')}}"><i class="glyphicon-plus glyphicon"></i> Crear Torneo</a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row-fluid">
      <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
        <div class="formAnotacion form-group col-md-12" style="padding-left:0px; padding-right:0px;">
          <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
            <table class="table table-bordered" >
              <thead>
                <tr>
                  
                  <th>Nombre</th>
                  <th>Fecha de Inicio</th>
                  <th>Fecha de Termino</th>
                  <th>Costo</th>
                  <th>Editar</th>
                  <th>Abrir/Cerrar</th>
                  <th>Rol</th>
                  <th>Ver</th>
                </tr>
              </thead>
              <tbody>
        {% endif %}

        {% if is_granted('ROLE_USER') %}
          <div class="row-fluid">
            <div class="col-md-12 borBox wellDark btn-dashboard">
              <div class="formAnotacion form-group">
                <h3 class="col-md-7">Los siguientes son torneos activos actualmente</h3>
              </div>
            </div>
          </div>

          <div class="row-fluid">
            <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
              <div class="formAnotacion form-group col-md-12" style="padding-left:0px; padding-right:0px;">
                <div class="col-md-12" style="padding-left:0px; padding-right:0px;">
                  <table class="table table-bordered" >
                    <thead>
                      <tr>
                        
                        <th>Nombre</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Termino</th>
                        <th>Costo</th>
                        
                      </tr>
                    </thead>
                    <tbody>
        {% endif %}


<!--  SI EL USUARIO ES ADMINISTRADOR SE MOSTRARÁ LO SIGUIENTE   -->
              {% if is_granted('ROLE_ADMIN')%}
                {% for entitie in entities %}
                      <tr>
                    
                    <td> {{entitie.nombre}} </td>
                    <td> {{entitie.fInicio|date('Y-m-d')}} </td>
                    <td> {{entitie.fTermino|date('Y-m-d')}} </td>
                    <td> {{entitie.costo}} </td>
                    <td>
                      <div class="btn-group sharp" data-toggle="radio" style="width: 50px">
                        <button class="btn btn-mini btn-success" type='submit' name='edit[]' value ='{{entitie.idTorneo}}'>
                          <i class="glyphicon-pencil glyphicon"></i>
                        </button>
                      </div>  
                    </td>


                    <td>
                      {% if entitie.inscripcionAbierta == 1 %}
                      <div class="btn-group sharp" data-toggle="radio" style="width: 50px">
                        <button class="btn btn-mini btn-success" type='submit' name='noInsc[]' value ='{{entitie.idTorneo}}'>
                          <i class="glyphicon glyphicon-remove"></i>
                        </button>
                      </div>
                      {% endif%}
                      {% if entitie.inscripcionAbierta == 0 %}
                      <div class="btn-group sharp" data-toggle="radio" style="width: 50px">
                        <button class="btn btn-mini btn-success" type='submit' name='insc[]' value ='{{entitie.idTorneo}}'>
                          <i class="glyphicon glyphicon-ok"></i>
                        </button>
                      </div> 
                      {% endif%} 
                    </td>


                    <td>
                      <div class="btn-group sharp" data-toggle="radio" style="width: 50px">
                        <button class="btn btn-mini btn-success" type='submit' name='rol[]' value ='{{entitie.idTorneo}}'>
                          <i class="glyphicon glyphicon-list-alt"></i>
                        </button>
                      </div>  
                    </td>
                    <td>
                      <div class="btn-group sharp" data-toggle="radio" style="width: 50px">
                        <button class="btn btn-mini btn-success" type='submit' name='ver[]' value ='{{entitie.idTorneo}}'>
                          <i class="glyphicon glyphicon-eye-open"></i>
                        </button>
                      </div>  
                    </td>
                  </tr>
                {% endfor %}
                {% endif %}

<!--  SI EL USUARIO ES UN USUARIO MORTAL SE MOSTRARÁ LO SIGUIENTE   -->
                {% if is_granted('ROLE_USER')%}
                  {% for entitie in entities %}
                    {% if date(entitie.fTermino|date('Y-m-d')) >= date() %}


                             
                      
                    


                  <tr>
                    
                    <td> {{entitie.nombre}} </td>
                    <td> {{entitie.fInicio|date('Y-m-d')}} </td>
                    <td> {{entitie.fTermino|date('Y-m-d')}} </td>
                    <td> {{entitie.costo}} </td>
                    
                  </tr>  
                    {% endif %}
                  {% endfor %}

                {% endif %}

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </form>

{% endblock %}